/* Dark Mode */
/* body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark input,
body.dark button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
}

#themeToggle {
  margin: 10px 0;
  padding: 8px 12px;
  cursor: pointer;
} */

body {
margin: 5PX;
padding: 20PX;
background-image: url('th.jpeg');
background-size: cover;
background-attachment: scroll;
font-family: Arial, sans-serif;
}

h1 {
text-align: center;
color: white;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
width: 100%;
max-width: 800px;
border: 5px solid rgb(46, 33, 33);
margin: 40px auto;
padding: 20px;
border-radius: 20px;
background-color: rgba(255, 255, 250, 0.9);
box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.container form {
display: block;
width: 100%;
margin: auto;
padding: 15px;
}

.container form label {
display: block;
margin-top: 15px;
font-weight: bold;
color: #333;
}

.container form input {
display: block;
width: 100%;
height: 40px;
margin: 5px auto 0;
padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

.container section {
text-align: center;
margin-top: 20px;
}

.container table {
width: 100%;
margin-top: 20px;
border-collapse: collapse;
text-align: center;
background-color: white;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container table th, #container table td {
border: 1px solid #ddd;
padding: 10px;
}

.container table th {
background-color: #000000;
color: white;
font-weight: bold;
}

.container table tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

button {
background-color: #5472ec;
color: white;
margin: 5px;
border: none;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease;
}

button:hover {
background-color: #383b4b;
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button:active {
background-color: #1f3520;
transform: scale(0.98);
}

@media (max-width: 200px) {
.container {
width: 82%;
padding: 10px;
}
.container form input {
height: 35px;
}
button {
padding: 8px 15px;
font-size: 14px;
}
.container table th, #container table td {
padding: 5px;
font-size: 14px;
}


}
  







